<h3>
  <%= link_to "Quote" , "new_quote"%>
  <%= link_to "Review" , "new_review"%>
  <%= link_to "Status" , "new_status"%>
</h3>

<h1>New Status</h1>
<div>
  <%= form_for :post, url: "new_status", method: "post" do |f| %>

  <p>
    <%= f.label :book %><br>
    <%= f.text_field :book %>
  </p>
 
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  <% end %>
</div>